= form.label :name, "name:"
= form.text_field :name, size: 30

= form.label :email, "email:"
= form.email_field :email, size: 30

= form.label :password, "password:"
= form.password_field :password, size: 30

= form.label :password_confirmation, "confirm password:"
= form.password_field :password_confirmation, size: 30

= form.submit
