th.sortable {
  position: relative;
  cursor: pointer;
}
th.sortable:after {
  position: absolute;
  top: 50%;
  right: 0.5rem;
}
th.sortable[data-direction=up]:after {
  content: "\25BE";
  transform: rotate(0.5turn) translate(0, 50%);
}
th.sortable[data-direction=down]:after {
  content: "\25BE";
  transform: translate(0, -50%);
}
