span, li a {
  margin-right: 0.5rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: thin solid;
  margin-bottom: 1rem;
  caption {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
  }
  td:has(.approved) {
    text-align: center;
    input[type="checkbox"] {
      pointer-events: none;
      accent-color: #059033;
    }
  }
  th, td {
    border: thin solid;
    padding: 0.5rem;
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: whitesmoke;
      }
    }
  }
}

form {
  label {
    text-transform: capitalize;
  }
  input, select {
    display: block;
    margin-bottom: 1rem;
  }
  textarea {
    display: block;
    margin-bottom: 1rem;
  }
  label[for=task_description] + .disabled_field {
    border: solid black 1px;
    padding: 0 1rem;
  }
}

aside.notice {
  float: right;
  color: red;
  margin-top: 1rem;
}
