span, li a {
  margin-right: 0.5rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: thin solid;
  margin-bottom: 1rem;
  .approved, .pending {
    display: block;
    text-align: center;
  }
  .approved { color: green }
  .pending { color: red }
  caption {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
  }
  th, td {
    border: thin solid;
    padding: 0.5rem;
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: whitesmoke;
      }
    }
  }
  input[type=submit] {
    display: block;
    background: green;
    padding: 5px;
    margin: 0px;
    text-align: center;
    color: white;
  }
}

form {
  label {
    text-transform: capitalize;
  }
  input, select {
    display: block;
    margin-bottom: 1rem;
  }
  textarea {
    display: block;
    margin-bottom: 1rem;
  }
  label[for=task_description] + .disabled_field {
    border: solid black 1px;
    padding: 0 1rem;
  }
}

aside.notice {
  float: right;
  color: red;
  margin-top: 1rem;
}
