li {
  span, a {
    margin-right: 0.5rem;
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: thin solid;
  margin-bottom: 1rem;
  caption {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
  }
  td.approved {
    text-align: center;
    input[type="checkbox"] {
      visibility: hidden;
      &::before {
        content: "\2A2F";
        visibility: visible;
        color: red;
      }
      &:checked {
        &::before {
          content: "\2713";
          visibility: visible;
          color: green;
        }
      }
    }
  }
  th, td {
    border: thin solid;
    padding: 0.5rem;
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: whitesmoke;
      }
    }
  }
}

form {
  margin-bottom: 1rem;
  label {
    text-transform: capitalize;
  }
  input, select {
    display: block;
    margin-bottom: 1rem;
  }
  textarea {
    display: block;
    margin-bottom: 1rem;
  }
  label[for=task_description] + .disabled_field {
    border: solid black 1px;
    padding: 0 1rem;
  }
}

aside.notice {
  float: right;
  color: red;
  margin-top: 1rem;
}
