nav {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  ol {
    direction: rtl;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    li {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
  form {
    flex-grow: 1;
    margin: unset;
    ol {
      display: flex;
      // justify-content: space-around;
      justify-content: flex-end;
      padding-left: 0.5rem;
      li {
        width: 100%;
        input {
          width: 100%;
          margin: unset;
          direction: ltr;
        }
      }
    }
  }
}
